*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dangrek"; 
}


@font-face {
    font-family:"Dangrek" ;
    src: url("font/Dangrek-Regular.ttf");
}

.textX3{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
}

.body_admin{
    background-image: url("resources/joel-jasmin-forestbird-P8b0bg-w_YA-unsplash.jpg");
    background-color: rgb(0, 0, 0);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.product_background{
    margin : 0;
    background-image: url("resources/homepg3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav_bar{
    border-radius: 12px;
    box-shadow: 0px 5px 2px 0px #fccf07d3;

}

.bg_cover{
    background-image: url("resources/painting-mountain-lake-with-mountain-background.jpg");
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.admin_img{
    margin : 0;
    background-image: url("resources/admin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



.button:active {
    
    box-shadow: 3px 3px 8px 3px #030303;
    transform: translateY(4px);
}
.slide_img{
    background-size: 150px;
}

.signout:hover{
    cursor: pointer;
    
}


.search_1{
    margin-right: 130px;
}

.card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.card:hover .card-body {
    margin-bottom: 25px;
}

.card-body {
    transition: background-color 0.3s;
}


/* nav bar  */

.navbar-custom {
    background-color: #f8c146; /* Custom color */
}
.navbar-brand {
    font-size: 200px;
    font-weight: bold;
}
.nav-link {
    font-size: 150px;
    position: relative;
    transition: color 0.3s;
}
.nav-link:hover {
    color: #000;
    font-weight: bold;
}
.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-out;
}
.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.logo-container {
    width: 70px;
    height: 70px;
}
.navbar-nav .nav-item + .nav-item {
    margin-left: 75px;
}

/* single product view  */

.signout {
    cursor: pointer;
}

.signout:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .container-fluid {
        padding: 10px;
    }

    .row {
        flex-direction: column;
        align-items: flex-start;
    }

    .col-auto {
        margin-bottom: 10px;
    }

    .form-check-label {
        font-size: 150px;
    }
}

.boxOh{
    background-color: rgba(248, 241, 137, 0.733);
}