.boX6{
	cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.boX6:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(5, 5, 5, 0.705), 0 16px 32px rgba(0, 0, 0, 0.3);
}

.bodyX{
        margin: 0;
        background-image: url("/resources/pexels-pixabay-206359.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
}

.boX4 {
    background: rgba(54, 54, 54, 0.519);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.559);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.textsh{
    text-shadow: 2px 2px 4px #000000, -2px -2px 4px #000000;
}

.boX5 {
    background: rgba(11, 11, 11, 0.575);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.559);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}
